# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc

# Ignore node/npm artifacts (if any)
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

DEPLOYMENT.md

#Database files
*.db